<!DOCTYPE html>
html(lang="en" data-ng-app="fdk")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Frontend development kit
    link(rel="stylesheet", href="styles/main.css")
  body
    .container-fluid
      .jumbotron
        .text-center
          h1 Frontend Development Kit V-{{ '0.0.1' }}
          p Hello World!
          span
            i.glyphicon.glyphicon-ok
            i.fa.fa-spin.fa-spinner
          p
            a.btn.btn-warning.btn-lg(href='#', role='button') Start to code!
    // build:js scripts/plugins.min.js
    script(src="../node_modules/jquery/dist/jquery.js")
    script(src="../node_modules/bootstrap-sass/assets/javascripts/bootstrap.js")
    script(src="../node_modules/angular/angular.js")
    // endbuild
    script(src="scripts/main.js")
